natural_science/medical/video/vid_1001_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1001_02.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1002_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1003_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1004_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1005_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1006_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1008_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1009_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1010_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1010_02.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1011_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1013_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1014_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1015_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1015_02.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1016_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1017_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1018_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1020_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1021_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1022_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1023_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1024_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1025_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1026_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1027_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1028_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1029_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1030_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1031_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1032_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1033_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1034_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1034_02.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1035_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1036_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1037_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1038_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1039_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1040_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1041_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1041_02.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1042_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1043_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1045_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1046_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1047_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1048_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1049_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1050_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1177_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1178_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1179_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1180_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1182_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1186_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1187_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1188_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1189_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1190_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1191_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1192_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1194_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1195_01.mp4 filter=lfs diff=lfs merge=lfs -text
natural_science/medical/video/vid_1198_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1084_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1086_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1087_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1090_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1091_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1092_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1093_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1094_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1095_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1098_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1100_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1101_01.mp4 filter=lfs diff=lfs merge=lfs -text
general_area/sports/video/vid_1102_01.mp4 filter=lfs diff=lfs merge=lfs -text
